{% extends 'killers/list.html.twig' %}

{% block links %}
    <a href="{{ path('killers') }}">Back</a>
{% endblock %}

{% block content %}
    <header>Latest assassination happened on {{ (Latest|first)['LastAssassination']|default('UNKNOWN') }}</header>
    {% for assassin in Latest %}
        <div style="padding-bottom: 10px">
            <table border="2">
                {% for prop in Properties %}
                    <tr>
                        {% if assassin[prop] is defined and assassin[prop] is iterable %}
                            <td>{{ prop }}</td><td>Values</td>
                            {% for value in assassin[prop] %}
                                <tr>
                                    <td style="background-color: black"></td>
                                    <td>
                                        {{ value }}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% else %}
                            <td>{{ prop }}</td><td>{{ assassin[prop]|default('UNKNOWN') }}</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endfor %}
{% endblock %}